---
layout: default
---
<article class="project-page">
  <section class="panel">
    <div class="panel-header">{{ page.title }}</div>
    <div class="panel-body">
      {{ content }}
    </div>
  </section>

  {% assign matching_posts = site.posts | where_exp: "post", "post.tags contains page.slug" %}
  {% if matching_posts.size > 0 %}
  <section class="panel related-blogs">
    <div class="panel-header">Posts in this project ({{ matching_posts.size }})</div>
    <div class="panel-body">
      {% include post-list.html posts=matching_posts %}
    </div>
  </section>
  {% endif %}
</article>
